@model IEnumerable<GiTinder.Models.Settings>

@{
    ViewData["Title"] = "Index";
    Layout = "SettingsView";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnableNotification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxDistanceInMeters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrefferedLanguages)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnableNotification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxDistanceInMeters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrefferedLanguages)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
